.comments
  .row
    .col
      .comments__leave-comment
        img(src="./images/comments-avatar.png", alt="").comments__leave-comment-image
        textarea#leave-comment(
          name="leave-comment", 
          type="text", 
          cols="30", 
          rows="1", 
          title="Залиште свій коментар…", 
          maxlength="100", 
          placeholder="Залиште свій коментар…" required).comments__leave-comment-text
    .w-100
    .col
      .comments__comment-block
        h3.comments__comment-block-title Коментарі
        .comments__comment-list
          .comments__comment
            img(src="./images/comments-avatar.png", alt="").comments__comment-image 
            .comments__comment-body
              .comments__comment-name Августін Кукін
              .comments__comment-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reiciendis provident qui modi magnam aliquam odio accusamus eveniet ad, repellendus odit animi quam mollitia, facilis quia ut neque, id inventore?
              .comments__comment-date 15.02.2015
              .comments__comment-separator
              a(href="").comments__comment-answer Відповісти
          .comments__comment
            img(src="./images/comments-avatar.png", alt="").comments__comment-image 
            .comments__comment-body
              .comments__comment-name Августін Кукін
              .comments__comment-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reiciendis provident qui modi magnam aliquam odio accusamus eveniet ad, repellendus odit animi quam mollitia, facilis quia ut neque, id inventore?
              .comments__comment-date 15.02.2015
              .comments__comment-separator
              a(href="").comments__comment-answer Відповісти
          .comments__comment
            img(src="./images/comments-avatar.png", alt="").comments__comment-image 
            .comments__comment-body
              .comments__comment-name Августін Кукін
              .comments__comment-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reiciendis provident qui modi magnam aliquam odio accusamus eveniet ad, repellendus odit animi quam mollitia, facilis quia ut neque, id inventore?
              .comments__comment-date 15.02.2015
              .comments__comment-separator
              a(href="").comments__comment-answer Відповісти
          .comments__comment
            img(src="./images/comments-avatar.png", alt="").comments__comment-image 
            .comments__comment-body
              .comments__comment-name Августін Кукін
              .comments__comment-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reiciendis provident qui modi magnam aliquam odio accusamus eveniet ad, repellendus odit animi quam mollitia, facilis quia ut neque, id inventore?
              .comments__comment-date 15.02.2015
              .comments__comment-separator
              a(href="").comments__comment-answer Відповісти

        button.comments__comment-block-show-more Показати інші коментарі
          .comments__comment-block-show-more-icon